<form [formGroup]="patientPhotoForm">
  <ng-template matStepLabel>Foto del Paciente</ng-template>
  <div class="title-block">
    <h4 class="title">
      Foto del Paciente
    </h4>
  </div>
  <hr style="margin-top: 0px;">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <h5>Por favor, seleccione el sexo del paciente</h5><br>
        <div class="row">
          <div class="col-md-6 text-center">
            <mat-card id="card-female">
              <mat-card-content>
                <img src="{{femaleImage}}" alt="mujer" class="img-patient" (click)="sexSelected('card-female')">
              </mat-card-content>
              <mat-card-actions>
                <mat-checkbox formControlName="female" (change)="sexSelected('card-female')">
                  Femenino
                </mat-checkbox>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-md-6 text-center">
            <mat-card id="card-male">
              <mat-card-content>
                <img src="{{maleImage}}" alt="hombre" class="img-patient" (click)="sexSelected('card-male')">
              </mat-card-content>
              <mat-card-actions>
                <mat-checkbox formControlName="male" (change)="sexSelected('card-male')">
                  Masculino
                </mat-checkbox>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <div class="row">
          <div class="col-md-6 text-center">
            <h5>Foto real del paciente</h5><br>
            <div>
              <img [src]="patientPhotoForm.get('image').value || sexSelectedImage" />
            </div>
            <div>
              <input style="display: none;" type="file" (change)="readURL($event)" #fileInput />
              <button style="margin-top: 10px;" mat-raised-button color="primary" (click)="fileInput.click()">Subir Foto</button>
            </div>
          </div>
          <div class="col-md-6">
            <h5>Características de la foto:</h5>
            <ul>
              <li>Cabeza completa incluyendo los hombros.</li>
              <li>Paciente parado con fondo claro.</li>
            </ul>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <br>
  <div>
    <button mat-raised-button matStepperPrevious>Atrás</button>
    <button class="btn-left-5" mat-raised-button color="primary" matStepperNext (click)="sendData()">Siguiente</button>
  </div>
</form>