.btn-left-5 {
    margin-left: 5px;
}
img {
    cursor: pointer;
}
.img-patient:hover {
    padding: 1px;
    // box-shadow: 5px 10px 8px #81C157;
    box-shadow: 0 6px 59px rgb(133, 206, 54)
}
.mat-card {
    padding: 10px;
}
mat-card.mat-card-general {
    height: 470px;
}
mat-card#card-female.mat-card {
    box-shadow: none;
}
mat-card#card-male.mat-card {
    box-shadow: none;
}
.checkBoxCardSelected {
    .img-patient {
        padding: 1px;
        box-shadow: 0 6px 59px rgb(133, 206, 54)
    }
}
.checkBoxCardNotSelected {
    .img-patient{
        box-shadow: 0px 0px 0px #ffffff;
        padding: 1px;
    }
}
//Pantallas de hasta 3000px 
@media only screen and (max-width: 3000px) {
    img {
        height: 400px !important;
        width: 400px !important;
    }
}
//Pantallas de hasta 1980px 
@media only screen and (max-width: 1980px) {
    img {
        height: 350px !important;
        width: 350px !important;
    }
}
//Pantallas de hasta 1880px
@media only screen and (max-width: 1880px) {
    img {
        height: 330px !important;
        width: 330px !important;
    }
}
//Pantallas de hasta 1780px
@media only screen and (max-width: 1780px) {
    img {
        height: 310px !important;
        width: 310px !important;
    }
}
//Pantallas de hasta 1680px
@media only screen and (max-width: 1680px) {
    img {
        height: 290px !important;
        width: 290px !important;
    }
}
//Pantallas de hasta 1580px
@media only screen and (max-width: 1580px) {
    img {
        height: 270px !important;
        width: 270px !important;
    }
}
//Pantallas de hasta 1480px
@media only screen and (max-width: 1480px) {
    img {
        height: 250px !important;
        width: 250px !important;
    }
}
//Pantallas de hasta 1380px
@media only screen and (max-width: 1380px) {
    img {
        height: 230px !important;
        width: 230px !important;
    }
}
//Pantallas de hasta 1280px
@media only screen and (max-width: 1280px) {
    img {
        height: 210px !important;
        width: 210px !important;
    }
}
//Pantallas de hasta 1180px
@media only screen and (max-width: 1180px) {
    img {
        height: 190px !important;
        width: 190px !important;
    }
}