<form [formGroup]="analysisForm">
  <div class="title-block">
    <h4 class="title">
      Datos del Paciente
    </h4>
  </div>
  <hr style="margin-top: 0px;">
  <div formGroupName="patient">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="idFirstname">Nombres</label>
          <input type="text" class="form-control form-control-sm" id="idFirstname" placeholder="Nombres" formControlName="firstname"
            autocomplete="off" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="idLastname">Apellidos</label>
          <input type="text" class="form-control form-control-sm" id="idLastname" placeholder="Apellidos"
            formControlName="lastname" autocomplete="off">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="idDNI">Número de Documento de Identidad</label>
          <input type="text" class="form-control form-control-sm" id="idDNI" placeholder="Número de Documento de Identidad"
            formControlName="documentNumber" autocomplete="off">
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label for="idAge">Edad</label>
          <input type="number" class="form-control form-control-sm" id="idAge" placeholder="Edad" formControlName="age"
            autocomplete="off">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="idBirthdate">Fecha de Nacimiento</label>
          <input type="date" class="form-control form-control-sm" id="idBirthdate" placeholder="Fecha de Nacimiento"
            formControlName="birthdate" autocomplete="off">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="idPlacebirth">Lugar de Nacimiento</label>
          <input type="text" class="form-control form-control-sm" id="idPlacebirth" placeholder="Lugar de Nacimiento"
            formControlName="placebirth" autocomplete="off">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="idAddress">Dirección Actual</label>
          <input type="text" class="form-control form-control-sm" id="idAddress" placeholder="Dirección Actual"
            formControlName="address" autocomplete="off">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="idEmail">Correo Electrónico</label>
          <input type="email" class="form-control form-control-sm" id="idEmail" placeholder="Correo Electrónico"
            formControlName="email" autocomplete="off">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="idProfessionalName">Profesional Tratante: Dr./Dra.</label>
        <input type="text" class="form-control form-control-sm" id="idProfessionalName" placeholder="Dr./Dra."
          formControlName="nameUser" readonly autocomplete="off">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="idProfessionalEnrollment">Matrícula Profesional</label>
        <input type="text" class="form-control form-control-sm" id="idProfessionalEnrollment" placeholder="Matrícula Profesional"
          formControlName="enrollmentUser" readonly autocomplete="off">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="idDiagnostic">Diagnóstico Clínico</label>
        <textarea type="text" class="form-control form-control-sm" id="idDiagnostic" placeholder="Diagnóstico Clínico"
          rows="2" formControlName="diagnostic" autocomplete="off"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label for="idTypeRehabilitation">Tipo de Rehabilitación</label>
        <mat-select id="idTypeRehabilitation" class="form-control form-control-sm" formControlName="typeRehabilitation"
          placeholder="Tipo de Rehabilitación" [compareWith]="compareFn">
          <mat-option *ngFor="let itemTypeRehabilitation of typesRehabilitations" [value]="itemTypeRehabilitation">
            {{itemTypeRehabilitation.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="idType">Tipo</label>
        <mat-select id="idType" class="form-control form-control-sm" formControlName="type" placeholder="Superior/Inferior">
          <mat-option [value]="false">Inferior</mat-option>
          <mat-option [value]="true">Superior</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <button mat-raised-button>Historia Clínica</button>
  <button class="btn-left-5" mat-raised-button color="primary" matStepperNext (click)="sendData()">Siguiente</button>
</form>