.btn-left-5 {
    margin-left: 5px;
}
img {
    cursor: pointer;
}
.img-patient:hover {
    padding: 1px;
    // box-shadow: 5px 10px 8px #81C157;
    box-shadow: 0 6px 59px rgb(133, 206, 54)
}
.mat-card {
    padding: 10px;
}
mat-card#card-female.mat-card {
    box-shadow: none;
}
mat-card#card-male.mat-card {
    box-shadow: none;
}
.checkBoxCardSelected {
    .img-patient {
        padding: 1px;
        box-shadow: 0 6px 59px rgb(133, 206, 54)
    }
}
.checkBoxCardNotSelected {
    .img-patient{
        box-shadow: 0px 0px 0px #ffffff;
        padding: 1px;
    }
}