<!-- NUEVO ANALISIS -->
<mat-horizontal-stepper labelPosition="bottom" (selectionChange)="stepChange($event)" #stepper>
    <!-- DATOS DEL PACIENTE -->
    <mat-step [stepControl]="analysisForm">
        <ng-template matStepLabel>Datos del Paciente</ng-template>
        <app-patient-data (dataEvent)="receivePatientData($event)"></app-patient-data>
    </mat-step>
    <!-- FIN DATOS DEL PACIENTE -->
    <!-- --- -->
    <!-- FOTO DEL PACIENTE -->
    <mat-step [stepControl]="patientPhotoForm">
        <ng-template matStepLabel>Foto del Paciente</ng-template>
        <app-patient-photo (dataEvent)="receivePatientPhoto($event)"></app-patient-photo>
    </mat-step>
    <!-- FIN FOTO DEL PACIENTE -->
    <!-- --- -->
    <!-- ANALISIS DE LA FOTOGRAFIA -->
    <mat-step [stepControl]="apForm">
        <ng-template matStepLabel>Análisis Fotográfico</ng-template>
        <app-analysis-photography (dataEvent)="receiveAP($event)"></app-analysis-photography>
    </mat-step>
    <!-- FIN DEL ANALISIS DE LA FOTOGRAFIA -->
    <!-- --- -->
    <!-- FOTOS DE LAS RADIOGRAFÍAS -->
    <mat-step [stepControl]="arForm">
        <ng-template matStepLabel>Radiografías del Paciente</ng-template>
        <app-patient-radiography (dataEvent)="receiveRP($event)"></app-patient-radiography>
    </mat-step>
    <!-- FIN DEL RADIOGRAFÍAS -->
    <!-- --- -->
    <!-- ANALISIS DE LA TELERADIOGRAFÍAS -->
    <mat-step [stepControl]="atForm">
        <ng-template matStepLabel>Análisis Telerradiografía</ng-template>
        <app-analysis-teleradiography (dataEvent)="receiveAT($event)"></app-analysis-teleradiography>
    </mat-step>
    <!-- FIN DEL ANALISIS DE LA TELERADIOGRAFÍAS -->
</mat-horizontal-stepper>
<!-- FIN NUEVO ANALISIS -->