<form [formGroup]="radiographyForm">
  <ng-template matStepLabel>Radiografías del Paciente</ng-template>
  <div class="title-block">
    <h4 class="title">
      Radiografías del Paciente
    </h4>
  </div>
  <hr style="margin-top: 0px;">
  <h5>Estimado Doctor/a: Cargue cada una de las radiografías del paciente.</h5>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <mat-card class="mat-card-4">
        <div class="row">
          <div class="col-md-4 text-center">
            <h5>Ortopantomografía</h5>
            <div>
              <img class="img-a" [src]="radiographyForm.get('imageOrthopantomography').value || orthopantomographyImage || ''" />
            </div>
            <div>
              <input style="display: none;" type="file" (change)="readURL($event, 1)" #fileInput1/>
              <button style="margin-top: 10px;" mat-raised-button color="primary" (click)="fileInput1.click()">Subir Foto</button>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <h5>Telerradiografía</h5>
            <div>
              <img class="img-b" [src]="radiographyForm.get('imageTeleradiography').value || teleradiographyImage || ''" />
            </div>
            <div>
              <input style="display: none;" type="file" (change)="readURL($event, 2)" #fileInput2/>
              <button style="margin-top: 10px;" mat-raised-button color="primary" (click)="fileInput2.click()">Subir Foto</button>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <h5>Condilografía</h5>
            <div>
              <img class="img-a" [src]="radiographyForm.get('imageCondilography').value || condilographyImage || ''" />
            </div>
            <div>
              <input style="display: none;" type="file" (change)="readURL($event, 3)" #fileInput3/>
              <button style="margin-top: 10px;" mat-raised-button color="primary" (click)="fileInput3.click()">Subir Foto</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <br>
  <div>
    <button mat-raised-button matStepperPrevious>Atrás</button>
    <button class="btn-left-5" mat-raised-button matStepperNext [disabled]="!radiographyForm.valid" color="primary">Siguiente</button>
  </div>
</form>