.btn-left-5 {
    margin-left: 5px;
}
mat-card {
    width: 100%;
    height: auto;
}
canvas {
    width: 100%;
    height: auto;
}
.img-a {
    width: 100% !important;
    height: auto !important;
    max-width: 600px !important;
    max-height: 400px !important;
}
.img-b {
    width: 100% !important;
    height: auto !important;
    max-width: 350px !important;
    max-height: 500px !important;
}
.display-none {
    display: none;
}
.display-inline {
    display: inline;
}