<form [formGroup]="radiographyForm">
    <ng-template matStepLabel>Radiografías del Paciente</ng-template>
    <div class="title-block">
        <h4 class="title">
          Radiografías del Paciente
        </h4>
      </div>
      <hr style="margin-top: 0px;">
      <h5>Estimado Doctor/a: Cargue cada una de las radiografías del paciente.</h5>
      <br>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <mat-card class="mat-card-4">
            <div class="row">
              <div class="col-md-4 text-center">
                <h6>Ortopantomografía</h6>
                <div>
                  <img id="c" width="80%" height="80%" [src]="radiographyForm.get('imageOrthopantomography').value || orthopantomographyImage" alt="your image" /><br>
                </div>
                <div>
                  <label for="imgOrthopantomography" color="primary" class="btn btn-primary">Subir Foto</label>
                  <input id="imgOrthopantomography" type='file' (change)="readURL($event, 'imageSrcOrthopantomography')" style="display: none"/>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <h6>Telerradiografía</h6>
                <div>
                  <img id="d" width="80%" height="80%" [src]="radiographyForm.get('imageTeleradiography').value || teleradiographyImage" alt="your image" /><br>
                </div>
                <div>
                  <label for="imgTeleradiography" color="primary" class="btn btn-primary">Subir Foto</label>
                  <input id="imgTeleradiography" type='file' (change)="readURL($event, 'imageSrcTeleradiography');" style="display: none"/>
                </div>               
              </div>
              <div class="col-md-4 text-center">
                <h6>Condilografía</h6>
                <div>
                  <img id="e" width="80%" height="80%" [src]="radiographyForm.get('imageCondilography').value || condilographyImage" alt="your image" /><br>
                </div>
                <div>
                  <label for="imgCondilography" color="primary" class="btn btn-primary">Subir Foto</label>
                  <input id="imgCondilography" type='file' (change)="readURL($event, 'imageSrcCondilography');" style="display: none"/>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <br>
      <div>
          <button mat-raised-button matStepperPrevious>Atrás</button>
          <button class="btn-left-5" mat-raised-button matStepperNext (click)="sendDataPR()" color="primary">Siguiente</button>
      </div>
  </form>