<div class="container-fluid padding-content">
  <div class="row">
    <div class="col-md-12">
      <h4>Dr./Dra. Bravo Blas</h4>
      <mat-divider></mat-divider><br>
      <div class="row">
        <div class="col-md-3 text-center">
          <div>
            <img src="assets/user.png" alt="user">
          </div>
          <button class="btn btn-success btn-sm">Cambiar Foto</button>
          <div class="card margin-top-10">
            <div class="card-header text-center">Membresía</div>
            <div class="card-body">
              <mat-list>
                <h3 mat-subheader>Estado<span class="space"></span>Activo</h3>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Expiración<span class="space"></span>10/12/2019</h3>
              </mat-list>
            </div>
          </div>
          <div class="card margin-top-10">
            <div class="card-header text-center">Estadísticas</div>
            <div class="card-body">
              <mat-list>
                <h3 mat-subheader>Ingresos<span class="space"></span>$45000</h3>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Análisis<span class="space"></span>325</h3>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Pacientes<span class="space"></span>50</h3>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Me Gusta<span class="space"></span>95</h3>
              </mat-list>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <h5>Datos de Perfil</h5>
          <mat-divider></mat-divider>
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="idFirstname">Nombre</label>
                <input id="idFirstname" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="idLastname">Apellido</label>
                <input id="idLastname" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="idDocumentNumber">Número de Documento de Identidad</label>
                <input id="idDocumentNumber" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="idEnrollment">Matricula Profesional</label>
                <input id="idEnrollment" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="idBirthdate">Fecha de Nacimiento</label>
                <input id="idBirthdate" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="idAddress">Domicilio</label>
                <input id="idAddress" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="idCity">Ciudad</label>
                <input id="idCity" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="idState">Provincia/Estado</label>
                <input id="idState" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="idCountry">País</label>
                <input id="idCountry" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>