@import '~@angular/material/theming';
@include mat-core();
/* Tema Verde */
$green-theme-primary: mat-palette($mat-green, 300);
$green-theme-accent:  mat-palette($mat-blue-grey, 100);
$green-theme-theme:   mat-light-theme($green-theme-primary, $green-theme-accent);
@include angular-material-theme($green-theme-theme);
.btn-success {
    background-color: #85CE36 !important;
    border-color: #85CE36 !important;
}
.padding-content {
    padding: 20px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.padding-top-5 {
    margin-top: 5px;
}
.padding-top-10 {
    margin-top: 10px;
}
.space {
    flex: 1 1 auto;
}
.mat-raised-button {
    min-width: 83px !important;
    line-height: 30px !important;
}
.li-green {
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}
.li-red {
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}
.li-yellow {
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    color: black;
    margin-bottom: 10px;
}
.li-lightblue {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    color: black;
    margin-bottom: 10px;
}
.li-blue {
    background-color: blue;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}
.li-lightgreen {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
    color: black;
    margin-bottom: 10px;
}
.li-board {
    background-color: #770505;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}
.li-black {
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}
.li-violet {
    background-color: violet;
    border-radius: 10px;
    padding: 5px;
    color: black;
    margin-bottom: 10px;
}
.li-cyan {
    background-color: cyan;
    border-radius: 10px;
    padding: 5px;
    color: black;
    margin-bottom: 10px;
}
.li-pink {
    background-color: pink;
    border-radius: 10px;
    padding: 5px;
    color: black;
    margin-bottom: 10px;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(120, 205, 76, 1);
    border: 1px solid rgba(120, 205, 76, 1);
}