@import '~@angular/material/theming';
@include mat-core();
/* Temas Verde */
$green-theme-primary: mat-palette($mat-green);
$green-theme-accent:  mat-palette($mat-grey, A200, A100, A400);
$green-theme-theme:   mat-light-theme($green-theme-primary, $green-theme-accent);
@include angular-material-theme($green-theme-theme);