.btn-left-5 {
    margin-left: 5px;
}
mat-card {
    width: 100%;
    height: auto;
}
canvas {
    width: 100%;
    height: auto;
}
img {
    width: 100%;
    height: auto;
}
.display-none {
    display: none;
}
.display-inline {
    display: inline;
}