<form [formGroup]="aoForm">
  <ng-template matStepLabel>Análisis Ortopantomografía</ng-template>
  <div class="title-block">
    <h4 class="title">
      Análisis de la Ortopantomografía
    </h4>
  </div>
  <hr style="margin-top: 0px;">
  <h5>Estimado Doctor/a: Siga los pasos para marcar los puntos del análisis de la Ortopantomografía.</h5>
  <br>
  <div class="row justify-content-center">
    <div id="idInitCardAO" class="col-md-12">
      <mat-card>
        <div class="row justify-content-center">
          <div class="col-md-5 text-center">
            <h6>Imagen Indicativa</h6>
            <img src="{{indicativeImage.image}}" alt="Telerradiografía">
            <h5 style="margin-top: 10px;">{{indicativeImage.pointName}}</h5>
            <h6>{{indicativeImage.pointDescription}}</h6>
          </div>
          <div class="col-md-5 text-center">
            <h6>Imagen Real</h6>
            <canvas id="idCanvasAO" #canvasAO style="border: 1px solid black"></canvas>
            <div class="row justify-content-center" style="margin-top: 10px;">
              <button mat-raised-button color="accent" (click)="resetCanvas()">Reset</button>
              <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="nextPoints()" [disabled]="!flag">Listo</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div id="idFinalCardAO" class="col-md-12 display-none">
      <mat-card>
        <div class="row">
          <div class="col-md-5 text-center">
            <h6>Imagen Real</h6>
            <img src="{{imageReal}}">
          </div>
          <div class="col-md-5 text-center">
            <h6>Imagen con Unión de Puntos</h6>
            <img src="{{imageFinalLines}}">
          </div>
          <div class="col-md-2">
            <h6 class="text-center">Planos del Análisis</h6>
            <div class="row">
              <div class="col" style="height: 300px; overflow-y: scroll;">
                <div class="li-blue">Plano bicondilar: se forma uniendo los Puntos TG.</div>
                <div class="li-lightgreen">Plano de Línea Media: Se forma pasando un perpendicular al Plano bicondilar
                  por el punto interincisivo superior.</div>
                <div class="li-board">Plano de oclusión: Se forma al trazar una línea tangente a las cúspides oclusales
                  más elevadas.</div>
                <div class="li-violet">Plano vertical: se forma uniendo los Puntos TG con el Punto Mentoniano.</div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col text-center">
                <button mat-raised-button color="primary" (click)="resetAll()">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <br>
  <div>
    <button mat-raised-button matStepperPrevious>Atrás</button>
    <button class="btn-left-5" mat-raised-button color="primary" matStepperNext [disabled]="!aoForm.valid">Siguiente</button>
  </div>
</form>